*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    margin: .5rem 2.5rem;
    padding: .5rem 0;
    align-items: center;
    display: flex;
    /* justify-content: center; */
}
.header-left{
    display: flex;
    align-items: center;
}
.header-left a {
    text-decoration: none;
}
.header-left img{
    margin-left: 0;
    height: 40px;
    width: 80px;
}
a > span{
    font-size: 1.3rem;
    margin: 0 30px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
a > span:hover{
     color: red;
}
a > span:active{
    color: red;
}